!!! 5
%html
  %head
    %title= "Buzzword Search App"
    %meta{:content => "", :name => "description" }
    %meta{:content => "Ramona", :name => "author" }
    %meta{:content => "3 days", :name => "revisit-after" }
    %link{:href => "/css/screen.css", :media => "screen", :rel => "stylesheet" }
  %body
    %header
      %h1= "Buzzword Search App"
      %form{:method => "get"}
        %input{:type=>"text", :name=>"query", :placeholder => "Ihre Suchangabe", :required => 'true'}
        %input{:type=>"submit", :value=>"Suchen"}
    #content-wrap
      %aside#left
        %h2="Google Geo Information"
        #googlegeo
          %iframe{:width=>"300", :height=>"200", :frameborder=>"0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src=>"http://maps.google.com/maps?q=#{:lat},#{:lng}&ll=#{:lat},#{:lng}&z=17&output=embed"} 
        %h2="Google Weather"
        #googleweather
          %h2="Aktuelles Wetter"
          #curr_cond
            =:current_conditions.each {|c| "<p>"+c.join(" ")+"</p>"} 
          %h2="Wettervorhersage"
          #fore_cond=:forecast_conditions.each {|c| "<p>"+c.join(" ")+"</p>"} 
      #content
        %h2="Flickr Photos"
        #flickr_photos
          %p
            FLICKR
        %h2="Yahoo Answer Service"
        #yahoo_answer
          %p
            YAHOO
    %footer
      %p
